<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

<!--    <h2 class="footer-heading">{{ site.title | escape }}</h2> -->
<!-- Copyright -->
<p id="copyright" style="margin-bottom: 20px; font-size: 90%; text-align: left; color: #828282;">
  &copy;  All rights reserved.
</p>

<script>
  const currentYear = new Date().getFullYear();
  const copyrightText = `&copy; Jon Curnow ${currentYear}. All rights reserved. Also at <a href="curnow.org">curnow.org</a>`;
  document.querySelector('#copyright').innerHTML = copyrightText;
</script>

    {%- include social.html -%}

  <!-- original footer 
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li class="p-name">
            {%- if site.author -%}
              {{ site.author | escape }}
            {%- else -%}
              {{ site.title | escape }}
            {%- endif -%}
            </li>
            {%- if site.email -%}
            <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {%- endif -%}
        </ul>

              
      </div>

      <div class="footer-col footer-col-2">
        {%- include social.html -%}
      </div>

      <div class="footer-col footer-col-3">
        <p>{{- site.description | escape -}}</p>
      </div>

    </div>
-->


  </div>



</footer>

