---
# adding some spacing
---

@import "minima";

body {
font-family: "Open Sans", Helvetica, Arial, sans-serif;
font-size: 14px;
height: 216px;
}

.page-content {
  line-height: 200%;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
