---
# adding some spacing
---

@import "minima";

{ body
  font: 14px / 24px "Open Sans", Helvetica, Arial, sans-serif;
}

blockquote {
    color: #828282;
    border-left: 4px solid #e8e8e8;
    padding-left: 15px;
    letter-spacing: -1px;
    font-style:italic
}


.page-content {
  line-height: 200%;
}

.PageNavigation {
  font-size: 14px;
  display: block;
  width: auto;
  overflow: hidden;
}

.PageNavigation a {
  display: block;
  width: 50%;
  float: left;
  margin: 1em 0;
}

.PageNavigation .next {
  text-align: right;
}
