---
layout: page
---

{% assign months = "January,February,March,April,May,June,July,August,September,October,November,December" | split: "," %}
{% assign current_month = "" %}

{% for post in site.posts %}
  {% assign post_year = post.date | date: "%Y" %}
  {% if post_year == page.year %}
    {% assign post_month_index = post.date | date: "%m" | minus: 1 %}  <!-- Convert "01" to 1 -->
    {% assign month_name = months[post_month_index] %}  <!-- Get month name from array -->

    {% if month_name != current_month %}
      {% if current_month != "" %}
        </ul>  <!-- Close previous month's list -->
      {% endif %}
      
      <h4>{{ month_name }}</h4>
      <ul>
      {% assign current_month = month_name %}
    {% endif %}

    <li>
      <a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date: "%d %b %Y" }})
    </li>
  {% endif %}
{% endfor %}

{% if current_month != "" %}
  </ul>  <!-- Close final month's list -->
{% endif %}
